.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }

  .example{
    display: flex;
    justify-content: center;
      
  }
  
  .example-button-row{
    margin-left: 20px;
  }


  