<div *ngIf="userHotel !== undefined">
    <div class="card flex justify-content-center">
        <button #btn type="button" pButton icon="pi pi-bars" label="Show" (click)="menu.toggle($event)"></button>
        <p-tieredMenu #menu [model]="items" [popup]="true"></p-tieredMenu>
    </div>
</div>
<h1>Visualización de hoteles</h1>


<p-card *ngFor="let item of paginatedHoteles" header={{item.nombreHotel}} >
    
    <p class="m-0">
        <samp>
        Dirección:
        </samp>
       {{item.direccion}}
    </p>
    <p class="m-0">
        <samp>
        Numero de habitaciones:
        </samp>
       {{item.numeroDeHabitaciones}}
    </p>
    <p class="m-0">
        <samp>
        Capacidad de reservas:
        </samp>
       {{item.capacidadDeReservas}}
    </p>
    <p class="m-0">
        <samp>
        Telefono:
        </samp>
       {{item.telefono}}
    </p>
    <p class="m-0">
        <samp>
            Correo electronico:
        </samp>
       {{item.correoElectronico}}
    </p>

    <section>
        <div class="example-button-row">
          <button mat-flat-button color="primary" 
          (click)="verHabitaciones(item.idHotel)">Ver habitaciones</button>
        </div>
      </section>
</p-card>

<mat-paginator [length]="hoteles.length"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              aria-label="Select page"
              (page)="onPageChange($event)">
</mat-paginator>

<p>{{userHotel}}</p>


