<mat-card class="example-card">

    <mat-card-header>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

        <mat-form-field class="example-form-field" [formGroup]="registerUser">
            <mat-label>Nombre Completo</mat-label>
            <input matInput type="text" formControlName="nombre">
            <button *ngIf="registerUser.get('nombre')?.value" matSuffix mat-icon-button aria-label="Clear" 
            (click)="registerUser.get('nombre')?.setValue('')">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field class="example-form-field" [formGroup]="registerUser">
            <mat-label>Correo Electronito</mat-label>
            <input matInput type="text" placeholder="Ex.pat@example.com" formControlName="correoElectronico">
            <button *ngIf="registerUser.get('correoElectronico')?.value" matSuffix mat-icon-button aria-label="Clear" 
            (click)="registerUser.get('correoElectronico')?.setValue('')">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field class="example-form-field" [formGroup]="registerUser">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" formControlName="contrasena">
            <button *ngIf="registerUser.get('contrasena')?.value" matSuffix mat-icon-button aria-label="Clear" 
            (click)="registerUser.get('contrasena')?.setValue('')">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          
            <form [formGroup]="registerUser">
              <table class="example-full-width" cellspacing="0"><tr>
                  <td><mat-form-field class="example-full-width">
                    <mat-label>Documento</mat-label>
                    <input matInput type="text" (keydown)="onKeyDown($event)" formControlName="documento">
                  </mat-form-field></td>
                  
                    <mat-form-field class="custom-mat-form-field" >
                        <mat-label>Tipo de Documento</mat-label>
                        <mat-select formControlName="tipoDeDocumento" disableRipple>
                          <mat-option value="TI">TI</mat-option >
                          <mat-option value="CC">CC</mat-option >
                        </mat-select> 
                    </mat-form-field>  
                </tr></table>
            
        
              <div class="card p-fluid flex flex-wrap gap-3">
                  <div class="flex-auto">
                      <span class="font-bold block mb-2">Telefono</span>
                      <p-inputMask mask="(999) 999-9999" placeholder="(999) 999-9999"
                      formControlName="telefono" ></p-inputMask>
                  </div>
              </div>

            </form>
        
        <p>{{longText}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button type="submit" (click)="enviarFormulario()" [disabled]="registerUser.invalid">Registrate</button>
    </mat-card-actions>
  </mat-card>
  
