.example-card {
    max-width: 700px;
    background-color: #375E97;
    margin-bottom: 30px;
    border-radius: 15px;
  }

  .example-card button{
    background-color:  #39A18A;
    color: black;
  }

  mat-icon{
    color: #375E97;   
  }

  mat-card {
    margin: auto;
    margin-top: 50px;
}

mat-card-header{
  text-align: center;
  margin-bottom: 15px;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
}


mat-card-subtitle{
  color: black;
}

mat-card-actions{
  margin: auto;
}

mat-form-field{
  background: none;
}

.custom-mat-form-field{
  margin-left: 10px;
}

.example-form-field{
  display: block;
  max-width: 300px;
}

.flex-auto{
  margin-bottom: 30px;
  max-width: 250px;
}

p{
  display: flex;
  justify-content: center;
}

mat-card-content{
  margin-bottom: 15px;
}

a{
  text-decoration: none;
  font-weight: bold;
  size: 25px;
  color: black;
  margin-left: 8px;
}

.font-bold{
  font-weight: bold;
}



